/.fleet
/.idea
/.vscode
/docker/initdb.d/*
/node_modules
/packages
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/framework/views
/vendor
.DS_Store
.idea
.env
.env.*
.phpunit.result.cache
.phpunit.cache
.scribe
auth.json
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
